[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyprecice = "*"
gmsh = "*"
fenicsxprecice = {file = "fenics-adapter", editable=true}

[dev-packages]
ipython = "*"
gprof2dot = "*"
line_profiler = "*"
snakeviz = "*"

[requires]
python_version = "3.11"
