[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyprecice = "*"
fenicsxprecice = {path = "./fenics-adapter", editable = true}
gmsh = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.11"
